<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeraGhar</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/Favicon.jpg" type="image/jpg ">
</head>
<body>

<div class="container-fluid main_menu">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <nav class="navbar navbar-expand-lg"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MeraGhar<span class="dom">.online</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/index">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        
        
      </ul>
      <div class="main-header-Left">
      <form class="d-flex">
        <a class="nav-link" href="#">
        <i class="fas fa-map-marker-alt me-2"></i>
        </a>
        <input class="form-control me-2" type="search" placeholder="Search Your Location"  aria-label="Search">
        <button class="btn me-2" type="submit">Search</button>
        <a href="login-signup"><button class="btn me-2" type="button">Login</button></a>
        <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
      </form>
      {{!-- <ul class="navbar-nav me-auto mb mb-lg-0">
         
      </ul> --}}
      </div>
    </div>
  </div>
</nav>

  </div>
  </div>
</div> 
<div class="container-fluid main-header">
  <div class="row">
    <div class="row-md-10 row-6 mx-auto">
        <div class="card" style="width: 18rem;">
        <img src="/images/Favicon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="/images/Favicon.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Buy</a>
            <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
      </div>














      </div>

  </div>
</div>
   

{{!-- footer code --}}
{{>footer}}

</body>
</html>