@import url(https://fonts.googleapis.com/css?family=Roboto);
:root{
    --main-bg: #ebf2f5;
    --main-color: #071647;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1{
    color: var(--main-bg);
}
.nav-container{
    flex:auto;
}
.container-fluid{
    flex: 1;
}
.navbar{
    background-color: var(--main-color)
}
.navbar-toggler{
    /* color: var(--main-bg); */
    background-color: var(--main-bg);
}
.navbar-text{
   float: left;
}
.head-text
{
    margin-top: 0rem;
    margin-left: auto;
    background-color:cornflowerblue;
    padding-top: 5rem;
    padding-bottom:3rem ;
    padding-left: auto;
    line-height: 2rem;
    padding-right:auto;
    text-align: center;
}
.nav-link{
    color:var(--main-bg);
}
.head-it{
   text-align: center;
}
.Info
{
    background-color: #1c97cf;
    margin-top: 2.5rem;
}
.inside-text{
    font-family: auto ;
}
.arrow
{
    margin-top: 4.5rem;
    /* margin-left: 0rem; */
}
/* footer */
footer span{
    text-align: center;
}

footer {
    /* background-color: var(--main-bg); */
    height: 50px;
    text-align: center;
    /* background-color: red; */

}